@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-marker li {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.foot h1 {
  cursor: pointer;
  &:hover {
    color: #2164b7;
  }
}

.foot2 p a {
  color: #2e83eb;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: rgb(45, 43, 43);
  }
}

.navlinks ul li {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.twc {
  display: flex;
  flex-direction: column;
}

.twc span {
  color: #2167bd;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  
}

.twc span:hover {
  color: rgb(47, 45, 45);
}
main a {
  font-weight: 600;
}
