@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-marker li {
    list-style-type: disc; 
    margin-left: 20px; 
    margin-bottom: 5px;
    margin-top: 5px;
}

.foot h1{
    cursor: pointer;
    &:hover{
        color: #2164b7;
    }
}

.foot2 p a{
    color:#2e83eb;
    font-weight: 600;
    cursor: pointer;
    &:hover{
        color: rgb(45, 43, 43);
    }
}